{% extends 'base.html' %}

{% block content %}
<p class="no2">{{ movies|length }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %} {# 迭代movies变量 #}
    <li>{{ movie.title}} - {{movie.year }}</li> {# 等同于movie['title'] #}
    {% endfor %} {# 使用 endfor 标签结束for语句 #}
        <span class="float-right">
            <a class="imdb" href="https://www.dogedoge.com/results?q=site%3Addrk.me+%E9%9A%90%E5%BD%A2%E4%BA%BA"
             target="_blank" title="Find this movie on IMDb">IMDb</a>
        </span>
</ul>
<footer>
    <small>&copy; 2020</small>
    </footer>
</body>
</html>