<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <title>{{ name }}'s Watchlist</title>
</head>
<body>
    <h2 class="no1"><img alt="Avatar" src="{{ url_for('static', filename='images/qie.gif')}}">
        {{ name }}'s Watchlist</h2>
    {# 使用 length 过滤器获取movies 变量的长度 #}
    <p class="no2">{{ movies|length }} Titles</p>
    <ul>
        {% for movie in movies %} {# 迭代movies变量 #}
        <li>{{ movie.title}} - {{movie.year }}</li> {# 等同于movie['title'] #}
        {% endfor %} {# 使用 endfor 标签结束for语句 #}
    </ul>
    <footer>
        <small>&copy; 2020</small>
    </footer>
</body>
</html>